* {
  margin: 0
  }
  body::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE and Edge */
  body {
    -ms-overflow-style: none;
  }
  .Header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center; 
  }
  .Header a{
    width: 13%;
  }
  .graficLogo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    
    
  
  }
  .card {
    position: relative;
    width:200px;
    overflow:hidden;
    margin:15px;
    display: inline-block;
    height: 200px;
    border: 2px solid black;
    
  }
  .card img{
    width:200px;
    height: 200px;
    
  }
  
  .transform{
    transition: all 1s ease-out;
  }
  .transform:hover{
    transform: scale(1.2);
  }
  .card .onHoverText {
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    color: black;
    width: 100%;
  }
  .profile {
    margin: 15px;
    display: flex;
  }
  .mainPhoto {
    width: 150px;
  }
  .characterInfo {
    margin: 25px;
  }
  .loading {
    width: 100px;
  }
  
